  img[src]
  {
    width: 300px;
  }
  html {
    font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
    font-family: placeholder: this should be the rest of the output you got from Google fonts
  }
  
  
  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }
  .content {
    font-size: 25px;
    color: rgb(23, 194, 137);
    font-weight:bolder;
  }
  a:hover
  {
    width: 1600px;
    color: chartreuse;
  }
  a
  {
    font-size: xx-large;
    color: rgb(240, 193, 7);
  }
  html {
    background-color: #81b2c4;
  }
  body {
    width: 600px;
    margin: 0 auto;
    background-color: #ac340c;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
    
  }
  h1 {
    margin: 0;
    padding: 20px 0;
    color: #08289b;
    text-shadow: #FC0 1px 0 10px;
    font-size: 50px;
    text-align: center;
  }
 h4 {
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    color: #1515b0;
    text-shadow: #FC0 1px 0 10px;
    
  }
  img {
    display: block;
    margin: 0 auto;
  }
  li{
    font-size: large;
    color: aqua;
  }

